@model ErrorViewModel
@{
    ViewData["Title"] = "Error"; 
}

@{
    if (Model is null)
    {
        <div>
            <h2>Ops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else 
    {
        ViewData["Title"] = Model.Titulo;

        <div>
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}
